footer{
    width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    gap: 15px;
    padding-block: 20px;
}

.footer-navigation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1{
    background: linear-gradient(to right, #fa6100, #e60026);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
    margin-top: 30px;
}

.navigation-links{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #959595;
}

.mini-links{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-contact{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-contact p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #959595;
    gap: 15px;
}

.navigation-links p:hover{
    cursor: pointer;
}

@media screen and (max-width: 490px) {
    .footer-contact{
        flex-wrap: wrap;
        gap: 10px;
    }

    .navigation-links{
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 310px) {
    .footer-contact p{
        font-size: 5vw;
    }
}