header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links-container{
    width: auto;
    padding-inline: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 60px;
}

.links-container p:hover{
    cursor: pointer;
}

nav h1{
    background: linear-gradient(to right, #fa6100, #e60026);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
}


.hire-btn{
    width: 150px;
    height: 38px;
    background: linear-gradient(to right, #FD6F00, #E46400);
    border: 0;
    border-radius: 8px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hire-btn:hover{
    cursor: pointer;
}

.menu-btn{
    display: none;
    color: white;
}

.menu-btn:hover{
    cursor: pointer;
}

.navmenu-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 50;
    top: 0px;
}

.navmenu-dropbox{
    width: 400px;
    height: 450px;
    background-color: #1E1E1E;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navmenu-dropbox p:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    header{
        height: auto;
    }
    nav{
        flex-direction: column;
        gap: 20px;
        padding-block: 20px;
    }
}

@media screen and (max-width: 650px) {

    nav{
        flex-direction: row;
        padding-inline: 10px;
    }

    .menu-btn{
        display: flex;
    }

    .hire-btn{
        display: none;
    }

    .links-container{
        display: none;
    }

    header{
        position: fixed;
        z-index: 999;
        background: #1E1E1E;
        top: 0;
    }
}

@media screen and (min-width: 650px) {
    .navmenu-container{
        display: none;
    }

    .navmenu-dropbox{
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .navmenu-dropbox{
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    body{
        font-size: 1vw;
    }
}