.portfolio-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
    overflow: hidden;
}

.portfolio-container h1{
    color: white;
    text-align: center;
}

.portfolio-list{
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-wrap: wrap;
    align-self: flex-start;
}

.portfolio-card{
    width: 300px;
    min-height: 231px;
    height: auto;
    padding-block: 15px;
    background-color: #1E1E1E;
    border-radius: 28px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    position: relative;
}

.portfolio-card a{
    width: 200px;
    height: 38px;
    border: 0;
    background-color: #FD6F00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.portfolio-card h3{
    color: white;
    text-align: center;
}

.portfolio-card p{
    color: #959595;
    margin-inline: 5px;
}

@media screen and (max-width: 965px) {
    .portfolio-list{
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 660px) {
    .portfolio-list{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 350px) {
    .portfolio-card{
        width: 90%;
    }
}