.shortInfo-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info-container{
    width: 100%;
    height: auto;
    padding-inline: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-info-container p{
    color: #707070;
}

.text-info-container h2{
    color: #959595;
}

.text-info-container h1{
    background: linear-gradient(to right, #984300, #FD6F00, #CA5900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* For Safari */
    background-clip: text;
    text-shadow: 0px 0px 20px rgba(253, 111, 0, 0.5);
    margin-top: 20px;
}

.image-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 400px;
}

.hidden {
    display: none;
  }
  
  .expanded {
    display: inline;
  }

.socialLinks-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-block: 20px;
    position: relative;
}

.gmail-container{
    width: 300px;
    height: 20px;
    position: absolute;
    background-color: #1E1E1E;
    box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
}

.cv-btn{
    width: 150px;
    height: 38px;
    background: transparent;
    border: 1px solid #959595;
    border-radius: 8px;
    display: flex;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    justify-content: center;
    align-items: center;
    color: #959595;
    text-decoration: none;
}

.cv-btn:hover{
    cursor: pointer;
}

.experience-projects-container{
    width: 400px;
    height: 125px;
    background-color: #1E1E1E;
    margin-top: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.experience-projects-container hr{
    height: 87px;
}

.hires-btn{
    width: 150px;
    height: 38px;
    background: linear-gradient(to right, #FD6F00, #E46400);
    border: 0;
    border-radius: 8px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
}

.hires-btn:hover{
    cursor: pointer;
}

.cv-download-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 50;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-download-card{
    width: 400px;
    height: 250px;
    background: #1E1E1E;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.cv-download-btn{
    width: 250px;
    height: 38px;
    border: 0;
    border-radius: 8px;
    background-color: #FD6F00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgian', sans-serif;
    text-decoration: none;
}

.cv-download-btn:hover{
    cursor: pointer;
}

.cv-download-btn:focus{
    background-color: #E46400;
}

.gmail-a-container{
    position: relative;
}

@media screen and (max-width: 900px){

    .experience-projects-container{
        margin: 30px auto;
    }

    .shortInfo-container{
        flex-direction: column;
    }

    .text-info-container{
        text-align: center;
    }

    .socialLinks-container{
        justify-content: center;
    }


    .socialLinks-container a:first-of-type{
        margin-left: 0;
    }

    .text-info-container{
        padding: 0;
    }

    .gmail-container{
        width: auto;
        height: 40px;
        top: 40px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 475px) {
    .experience-projects-container{
        width: 90%;
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .image-container img{
        width: 90%;
    }

    .gmail-a-container{
        position: unset;
    }

    .gmail-container{
        top: 80px;
    }
}

@media screen and (max-width: 337px) {
    .hires-btn{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .experience-projects-container hr{
        height: 0px;
        width: 90%;
    }
}

@media screen and (max-width: 288px) {

    .gmail-container{
        height: auto;
        width: 90%;
        word-break: break-all;
        top: 100px;
    }

    .socialLinks-container{
        height: 100px;
    }
}