.project-cards-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 50px;
    padding-block: 50px;
}

.card{
    width: auto;
    height: auto;
    padding-block: 25px;
    background-color: rgb(38, 37, 37);
    color: black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    color: white;
    padding-inline: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.2s all;
}

.card img{
    border-radius: 20px;
}

.card img{
    width: 400px;
}

/* .card > img{
    width: 480px;
} */

.open-btn{
    width: 200px;
    height: 40px;
    background-color: rgb(0, 252, 29);
    border: 0;
    margin-top: 20px;
    border-radius: 20px;
    color: white;
    font-family: 'Inder';
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.open-btn:hover{
    transform:  scale(1.1);
}

@media screen and (max-width: 550px) {
    .card{
        width: 90%;
    }

    .card  img{
        width: 95%;
    }
}